/*
This is the class that handles the overall structure of front-end. 
It handles the style of table, repl-input, repl-history, and the borders.

*/

.repl {
  position: relative;
  min-height: 95vh;
}

.repl-history {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}
.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
}

table {
  width: 100%;
  max-width: 500px;
  height: 240px;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid #333;
  background-color: #f2f2f2;
}

td {
  border: 1px solid;
}

.bordered-div {
  border: 0.5px solid black;
  padding: 2px;
}
